footer {
    background-color: var(--surface-b);
    min-height: 70px;
    padding: 1rem;
    width: 100%;
    // margin-top: 25px;

    .footer-wrapper {
        align-items: center;

        .social {
            margin-top: 15px;
            text-align: right;
            .nav {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
                &-item{
                    list-style: none;
                }
            }
        }
    }
}