<div class="admin-page">
    <p-card header="Dashboard" subheader="Lastest Updates" styleClass="d-card-container">
        <div class="grid">
            <div class="col-3">
                <p-card styleClass="d-card">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-shopping-cart"></i>
                            <br/>
                            <span class="name">Orders</span>
                        </div>
                        <span class="number">25</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-card">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-users"></i>
                            <br/>
                            <span class="name">Customers</span>
                        </div>
                        <span class="number">10</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-card">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-briefcase"></i>
                            <br/>
                            <span class="name">Products</span>
                        </div>
                        <span class="number">20</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-card">
                    <div class="d-item">
                        <div>
                            <i class="pi pi-dollar"></i>
                            <br/>
                            <span class="name">Total Sales</span>
                        </div>
                        <span class="number">{{120000 | currency: 'USD'}}</span>
                    </div>
                </p-card>
            </div>
        </div>
    </p-card>
</div>
