<p-toast></p-toast>
<div class="admin-page h-screen">
    <p-card [header]="editMode ? 'Edit Brand' : 'Add Brand' " subheader="You can add and edit Brands" styleClass="h-screen">
        <div class="grid">
            <div class="col-12" >
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right d-flex gap-3">
                        <p-button [label]="editMode? 'Update' : 'Create' " icon="pi pi-check" styleClass="p-button-primary" (onClick)="onSubmit()"></p-button>
                        <p-button label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary"  routerLink="/admin/brands"></p-button>
                    </div>
                </p-toolbar>
            </div>
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="card">
                        <div class="formgrid grid">
                            <div class="field col relative ">
                                <input 
                                    formControlName="name" 
                                    id="name" type="text" 
                                    placeholder="Name"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                                <p-message 
                                    *ngIf="brandForm['name'].invalid && isSubmitted" 
                                    severity="error" 
                                    text="Field is required"
                                    ></p-message>
                            </div>
                            <div class="field col flex align-items-center relative ">

                            </div>
                        </div>
                    </div>          
                </form>
            </div>
        </div>
    </p-card>
</div>


