<p-toast></p-toast>
<div class="admin-page h-screen">
    <p-card [header]="editMode ? 'Edit Product' : 'Add Product' " subheader="You can add and edit Products" >
        <div class="grid">
            <div class="col-12" >
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right d-flex gap-3">
                        <p-button [label]="editMode? 'Update' : 'Create' " icon="pi pi-check" styleClass="p-button-primary" (onClick)="onSubmit()"></p-button>
                        <p-button label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary"  routerLink="/products"></p-button>
                    </div>
                </p-toolbar>
            </div>
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="card">
                        <div class="formgrid grid">
                            <div class="field col  ">
                                    <input 
                                        placeholder="name"
                                        id="float-input" 
                                        type="text" pInputText
                                        formControlName="name"
                                        pTooltip="Write Name"
                                        tooltipPosition="bottom"
                                        > 
                                <p-message 
                                    *ngIf="productsForm['name']?.invalid && isSubmitted" 
                                    severity="error" 
                                    text="Field is required"
                                    >
                                </p-message>
                            </div>
                            <div class="field col ">
                                <p-inputNumber 
                                    formControlName="price"
                                    mode="currency" 
                                    currency="COP" 
                                    locale="es-ES"
                                    pTooltip="Write Price"
                                    tooltipPosition="bottom"
                                    >
                                </p-inputNumber>
                                <p-message 
                                    *ngIf="productsForm['price'].invalid && isSubmitted" 
                                    severity="error" 
                                    text="Field is required"
                                    >
                                </p-message>
                            </div>
                            <div class="field col">
                                <p-inputNumber 
                                    formControlName="stock" 
                                    [showButtons]="true" 
                                    [min]="0"
                                    [max]="1000"
                                    pTooltip="Select Stock"
                                    tooltipPosition="bottom"
                                    >
                                </p-inputNumber>
                                <p-message 
                                    *ngIf="productsForm['stock'].invalid && isSubmitted" 
                                    severity="error" 
                                    text="Field is required"
                                    >
                                </p-message>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-4">
                                <p-dropdown  
                                    [options]="Brands" 
                                    optionLabel="name"
                                    optionValue="_id"
                                    [filter]="true"
                                    [showClear]="true"
                                    filterBy="name"
                                    formControlName="brand"
                                    placeholder="Select Brand"
                                    >
                                </p-dropdown>
                                <p-message 
                                    *ngIf="productsForm['brand']?.invalid && isSubmitted" 
                                    severity="error" 
                                    text="Field is required"
                                    >
                                </p-message>
                            </div>
                            <div class="field col-4">
                                <p-dropdown 
                                    [options]="Categories" 
                                    optionLabel="name"
                                    optionValue="_id"
                                    [filter]="true"
                                    [showClear]="true"
                                    filterBy="name"
                                    formControlName="category"
                                    placeholder="Select Category"
                                    >
                                </p-dropdown>
                                <p-message 
                                    *ngIf="productsForm['category']?.invalid && isSubmitted" 
                                    severity="error" 
                                    text="Field is required"
                                    >
                                </p-message>
                            </div>
                        </div>
                        <div class="formgrid grid">
                            <div class="field col-12">
                                <div class="field col-5">
                                    <label for="Image" class="col-5">Main Image</label>
                                    <input 
                                        type="file" 
                                        name="uploadImage" 
                                        class="p-inputtext"
                                        accept="image/*"
                                        (change)="onChange($event)"
                                        id="image">
                                    <div class="col-3 p-3">
                                        <img [src]="displayImage" alt="" style="width: 100%;">
                                    </div>
                                    <p-message 
                                        *ngIf="productsForm['image']?.invalid && isSubmitted" 
                                        severity="error" 
                                        text="Field is required"
                                        >
                                    </p-message>
                                </div>
                                <label for="description" >Description</label>
                                <textarea pInputTextarea formControlName="description" style="width: 100%;"></textarea>
                            </div>
                            <div class="field col-12">
                                <label for="details" >Details</label>
                                <p-editor formControlName="details" [style]="{'height': '320px'}"></p-editor>
                            </div>
                        </div>
                    </div>          
                </form>
            </div>
        </div>
    </p-card>
</div>

