<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<div class="cart-page">
    <div class="grid">
        <div class="col-8 ">
            <div class="cart-content-header col-8">
                <div class="cart-back">
                    <p-button
                    label="Continue Shopping"
                    icon="pi pi-arrow-left"
                    (onClick)="backToShop()"
                    >
                    </p-button>
                </div>
                <div class="cart-title">
                    <h4>
                        MyCart: {{cartProductItems.length}} Item(s)
                    </h4>
                </div>
                <div class="cart-shipping">
                    <h4>Shipping after the payment, Delivery time: 1 to 4 working days</h4>
                </div>
            </div>
            <div class="divider"></div>
            <div class="cart-item" *ngFor="let item of cartProductItems" >
                <div class="grid" *ngIf="cart?.length">
                    <div class="col-3 cart-item-image">
                        <img [src]="item.image" alt="product-image">
                    </div>
                    <div class="col-5">
                        <div class="cart-item-name">
                            <h4>{{item.name}}</h4>
                        </div>
                        <br>
                        <div class="cart-item-price">
                            <span>{{item.price | currency}}</span>
                        </div>
                        <br>
                        <div class="cart-item-btn">
                            <p-button icon="pi pi-trash" (onClick)="deleteCartItem(item._id)"></p-button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="field">
                            <label for="quantity">Quantity</label>
                            <p-inputNumber (onInput)="updateCartQuantity($event, item._id)" [(ngModel)]="item.quantity"  mode="decimal" [showButtons]="true"  [inputId]="item._id" [min]="1" [max]="item.STOCK"></p-inputNumber>
                        </div>
                        <h4>Subtotal</h4>
                        <span *ngIf="item.quantity" class="cart-subtotal">{{item.price * item.quantity | currency}}</span>
                    </div>
                </div>
            </div>
            <div class="cart-empty" *ngIf="!cart?.length">
                Your Cart are empty
            </div>
        </div>
        <div class="col-4">
            <div class="order-summary col-4">
                <div>
                    <app-order-summary></app-order-summary>
                </div>
            </div>
        </div>
    </div>
</div>
