.login-register{
    background-image: linear-gradient(to left top, #0b213f, #0a1e3a, #091c35, #091931, #08172c, #132239, #1d2d47, #283855, #43557c, #6173a5, #8293d0, #a5b4fc);
    min-height: 100vh;
    padding-top: 5rem;
    &-panel{
        .p-card .p-card{
            &-body{
                padding: 0;
            }
            &-content{
                padding: 0;
                .col-6{
                    padding: 0;
                    img{
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                }
                .full-btn{
                    width: 100%;
                }
            }
        }
    }
    .p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-inputgroup .p-inputwrapper>.p-component {
        width: 100%;
    }
}

.dialog-login{
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #00000028;
    .p-dialog{
        &-header{
            background-color: transparent;
            .p-dialog-title{
                font-size: 1.5rem;
                position: relative;
                top: 1.5rem;
            }
        }
        &-content{
            background-color: transparent;
        }
        &-footer{
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: 1.5rem;
        }
    }
}