.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    .main-image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 320px;
        }
    }
}