<div class="admin-sidebar">
    <div class="logo">
        <img src="assets/images/logo.png" alt="logo">
    </div>
    <div class="links">
        <ul>
            <li>
                <a href="admin/dashboard" >
                    <i class="pi pi-home"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="admin/products">
                    <i class="pi pi-briefcase"></i>
                    Products
                </a>
            </li>
            <li>
                <a href="admin/categories">
                    <i class="pi pi-list"></i>
                    Categories
                </a>
            </li>
            <li>
                <a href="admin/brands">
                    <i class="pi pi-list"></i>
                    Brands
                </a>
            </li>
            <li>
                <a href="admin/orders">
                    <i class="pi pi-shopping-cart"></i>
                    Orders
                </a>
            </li>
            <li>
                <a href="admin/users">
                    <i class="pi pi-users"></i>
                    Users
                </a>
            </li>
            <li>
                <a class="logout"  (click)="onLogout()">
                    <i class="pi pi-sign-out"></i> 
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>
