<div class="banner">
    <div class="grid">
        <div class="col-5 col-offset-1">
            <div >
                <h1>The Best Products</h1>
                <h2>in Every Categories</h2>
                <br/>
                <br/>
                <p-button label="See more" icon="pi pi-chevron-right" iconPos="right" styleClass="p-button-raised p-button-success" pRipple></p-button>
            </div>
        </div>
        <div class="col-6 slide-right	">
            <img src="assets/images/banner-image.svg" alt="logo banner">
        </div>
    </div>
</div>
